<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Workouts</h1>
    <a href="fitness/new">
        <button>New Workout</button>
    </a>
    <div class="container">
        <% for (let i = 0; i < fitness.length; i++) { %>
            <a href="/fitness/<%=fitness[i]._id%>">
            <h1> <%= fitness[i].title %></h1>
            <p> <%= fitness[i].date %></p>
            <img src="<%= fitness[i].img%>">
            </a>
        <% } %>
    </div>
</body>
</html>